<% const transaction = data.transaction%>
<% const product = data.product %>


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="assets/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="assets/sb-admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/product" >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Products</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="/transaction" >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Transaction</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- CONTENT -->

                    <!-- Page Heading -->
                    <br>
                    <h1 class="h3 mb-2 text-gray-800">Transactions</h1>
                    <button class="btn btn-success" data-toggle="modal" data-target="#AddTransaction">Add Transaction</button>
                    
                    <br>
                    <br>
                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List of Transaction</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Number</th>
                                            <th>Product</th>
                                            <th>QTY</th>
                                            <th>Date</th>
                                            <th>Customer</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let i = 1 %>
                                        <% transaction.forEach((value) => { %>
                                            <tr>
                                                <td class="text-center"><%= i++ %></td>
                                                <td><%= value.name %></td>
                                                <td class="text-center"><%= value.qty %></td>
                                                <td class="text-center"><%= value.date.toLocaleDateString("id") %></td>
                                                <td class="text-center"><%= value.customer %></td>
                                                <td class="text-center"><%= value.price %></td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="<%= `#UpdateTransaction${value.id}` %>">Update</a> 
                                                    | 
                                                    <a href="<%= `/delete_transaction/${value.id}` %>" class="btn btn-danger btn-sm">Delete</a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END OF CONTENT -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal AddTransaction -->
    <div class="modal fade" id="AddTransaction" tabindex="-1" aria-labelledby="AddTransaction" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="AddTransaction">Add Some Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/add_transaction" method="POST">
                    <div class="form-group">
                        <label for="product">Product</label>
                        <select id="product" class="form-control" name="product_id">
                            <% product.forEach((value) => { %>
                                <option value="<%= value.id %>"><%= value.name %></option>
                            <% }) %>
                        </select>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="qty">QTY</label>
                            <input type="number" class="form-control" id="qty" name="qty">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customer">Customer</label>
                        <input type="text" class="form-control" name="customer" id="customer" name="customer">
                    </div> 

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    <!-- End Modal AddTransaction -->
    

    <!-- Modal UpdateTransaction -->
    <% transaction.forEach((value) => { %>
        <div class="modal fade" id="<%= `UpdateTransaction${value.id}` %>" tabindex="-1" aria-labelledby="UpdateTransaction" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="UpdateTransaction">Add Some Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="<%= `/update_transaction/${value.id}` %>" method="POST">
                        <div class="form-group">
                            <label for="product">Product</label>
                            <select id="product" class="form-control" name="product_id">
                                <% product.forEach((value) => { %>
                                    <option value="<%= value.id %>"><%= value.name %></option>
                                <% }) %>
                            </select>
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="qty">QTY</label>
                                <input type="number" class="form-control" id="qty" name="qty" value="<%= value.qty %>">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" name="date" value="<%= `${value.date.toLocaleDateString('en-US')}` %>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customer">Customer</label>
                            <input type="text" class="form-control" name="customer" id="customer" name="customer" value="<%= value.customer %>">
                        </div> 
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    <% }) %>
    <!-- End Modal UpdateTransaction -->

    <!-- Bootstrap core JavaScript-->
    <script src="assets/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="assets/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/sb-admin/js/sb-admin-2.min.js"></script>

</body>

</html>